.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #fafafa;
}

.App-logo {
  position: fixed;
  top: 15px;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 7, 8);
}

.App-link {
  color: #61dafb;
}

.Content-area {
  height: 60%;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 40vmin;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  background-color: rgb(217, 217, 217);
  font-size: calc(4px + 2vmin);
  resize: none;
}

/* referenced to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button for effect */
.Button-style {
  margin: 5px 10px;
  width: 35%;
  border: none;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-family: Ubuntu;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}

.Button-style:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.Button-play {
  box-shadow: inset -2px -2px 5px rgba(80, 19, 65, 0.3), inset 2px 2px 5px rgba(235, 190, 217, 0.3);
  background-image: linear-gradient(135deg, rgb(64, 133, 243) 40%, rgb(79, 252, 212));
}

.Button-play:hover {
  background-image: linear-gradient(135deg, rgb(61, 128, 236) 40%, rgb(88, 240, 204));
}

.Button-stop {
  box-shadow: inset 2px 2px 3px rgba(100, 0, 0, 0.8), inset -2px -2px 3px rgba(100, 0, 0, 0.8);
  background-image: linear-gradient(135deg, rgb(110, 0, 0) 30%, rgb(190, 9, 0));
}

.Button-stop:hover {
  background-image: linear-gradient(135deg, rgb(142, 0, 0) 30%, rgb(223, 9, 0));
}

.Button-record {
  box-shadow: inset -2px -2px 5px rgba(80, 19, 65, 0.3), inset 2px 2px 5px rgba(235, 190, 217, 0.3);
  background-image: linear-gradient(135deg, rgb(220, 87, 230) 40%, rgb(77, 252, 237));
}

.Button-record:hover {
  background-image: linear-gradient(135deg, rgb(229, 59, 229) 30%, rgb(51, 241, 225));
}